/*html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.stream {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 100%;
}
*/

#conversejs {
  --occupants-features-display: none;
  --occupants-border-bottom: none;
  height: 100%;
}

#conversejs .chat-head {
  display: none;
}
