<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-8 col-12">
      <StreamVideo @stream={{@model.id}} />
      <img src="/stream-meta/logos/{{@model.id}}.png" class="mt-3 mx-auto d-block">
    </div>
    <div class="col-md-4 d-md-block d-none">
      <StreamChat @stream={{@model.id}} />
    </div>
  </div>
</div>
